<h3>Add client</h3>
<form ng-submit="Add()">
    <table>
        <tr>
            <div class='form-group'>
                <td><label for='id'>Id:</label></td>
                <td><input required id='id' class='form-control' ng-model="newclient.id" type='number'></td>
            </div>
        </tr>
        <tr>
            <div class='form-group'>
                <td><label for='surname'>Surname:</label></td>
                <td><input required id='surname' class='form-control' ng-model='newclient.surname' type='text'></td>
            </div>
        </tr>
        <tr>
            <div class='form-group'>
                <td><label for='name'>Name:</label></td>
                <td><input required id='name' class='form-control' ng-model='newclient.name' type='text'></td>
            </div>
        </tr>
        <tr>
            <div class='form-group'>
                <td><label for='patronymic'>Patronymic:</label></td>
                <td><input required id='patronymic' class='form-control' ng-model='newclient.patronymic' type='text'></td>
            </div>
        </tr>
        <tr>
            <div class='form-group'>
                <td><label for='birthday'>Birthday:</label></td>
                <td><input required id='birthday' class='form-control' ng-model='newclient.birthday' type='date'></td>
            </div>
        </tr>
        <tr>
            <div class='form-group'>
                <td><label for='accNumber'>Account Number:</label></td>
                <td><input required id='accNumber' class='form-control' ng-model='newclient.accNumber' type='number'></td>
            </div>
        </tr>

    </table>
    <input type="submit" value="Add">
</form>